main {
  display: flex;
  align-items: center;
  justify-content: center;
  --out-line-width: 100;
  --out-line-height: 100;
  --out-led-module-width: 16;
  --out-led-module-height: 16;
  --inner-box-width: 128;
  --inner-box-height: 64;
  --out-inner-box-left: 16;
  --out-inner-box-right: 16;
  --out-inner-box-top: 16;
  --out-inner-box-bottom: 16;
  --unit: 4px;
  font-size: var(--unit);
}
main out-line {
  position: relative;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  width: calc(var(--out-line-width) * 1em);
  height: calc(var(--out-line-height) * 1em);
}
main out-line inner-box {
  display: flex;
  margin-top: calc(var(--out-inner-box-top) * 1em);
  margin-left: calc(var(--out-inner-box-left) * 1em);
  height: fit-content;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  flex: 0;
}
main out-line inner-box row-box {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.1);
}
main out-line inner-box row-box led-module {
  display: flex;
  box-sizing: border-box;
  width: calc(var(--out-led-module-width) * 1em);
  height: calc(var(--out-led-module-height) * 1em);
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
}
main out-line inner-box row-box led-module:nth-child(1) {
  border-left: 1px solid #000;
}
main out-line inner-box row-box:nth-child(1) led-module {
  border: none;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}
main out-line inner-box row-box:nth-child(1) led-module:nth-child(1) {
  border-left: 1px solid #000;
}
main out-line inner-box row-box:nth-last-child(3) led-module {
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
main out-line inner-box row-box:nth-last-child(3) led-module:nth-child(1) {
  border-left: 1px solid #000;
}

.dim-x {
  position: relative;
  box-sizing: border-box;
  --dim-height: 40;
  --arrow-size: 16;
  width: 100%;
  height: calc(var(--dim-height) * 1px);
  border-left: 2px solid red;
  border-right: 2px solid red;
}
.dim-x .left-arrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(var(--arrow-size) * 1px);
  height: calc(var(--arrow-size) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dim-x .left-arrow svg {
  width: calc(var(--arrow-size) * 0.7px);
  height: calc(var(--arrow-size) * 0.7px);
  transform: rotateZ(45deg);
}
.dim-x .right-arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(var(--arrow-size) * 1px);
  height: calc(var(--arrow-size) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dim-x .right-arrow svg {
  width: calc(var(--arrow-size) * 0.7px);
  height: calc(var(--arrow-size) * 0.7px);
  transform: rotateZ(-135deg);
}
.dim-x .line {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: calc(var(--arrow-size) * 0.4px);
  width: 100%;
  height: 2px;
  background-color: red;
}
.dim-x .line .dim-text {
  display: block;
  margin-bottom: calc(var(--dim-height) * 0.6px);
  font-weight: bold;
  font-size: 16px;
  color: red;
}

.dim-y {
  position: absolute;
  right: calc(var(--dim-height) * -1px);
  box-sizing: border-box;
  --dim-height: 40;
  --arrow-size: 16;
  width: calc(var(--dim-height) * 1px);
  height: calc(var(--inner-box-height) * 1em);
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
.dim-y .left-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(var(--arrow-size) * 1px);
  height: calc(var(--arrow-size) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dim-y .left-arrow svg {
  width: calc(var(--arrow-size) * 0.7px);
  height: calc(var(--arrow-size) * 0.7px);
  transform: rotateZ(135deg);
}
.dim-y .right-arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(var(--arrow-size) * 1px);
  height: calc(var(--arrow-size) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dim-y .right-arrow svg {
  width: calc(var(--arrow-size) * 0.7px);
  height: calc(var(--arrow-size) * 0.7px);
  transform: rotateZ(-45deg);
}
.dim-y .line {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: calc(var(--arrow-size) * 0.4px);
  width: 2px;
  height: 100%;
  background-color: red;
}
.dim-y .line .dim-text {
  display: block;
  margin-bottom: calc(var(--dim-height) * 0.6px);
  font-weight: bold;
  font-size: 16px;
  color: red;
}

/*# sourceMappingURL=style.css.map */
