@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css');

:root {
	--unit: 1;
	font-size: calc(var(--unit) * 1px);

	--dim-text-size: 10px;
	--line-width: 2;

	font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
		'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', sans-serif;
	font-weight: 600;
}

body {
	height: 100vh;
	margin: auto;
}

#title {
	outline: none;
	border: none;
	font-size: 16px;
	font-weight: 900;
}
header {
	position: fixed;
	left: 0;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	--out-line-width: 100;
	--out-line-height: 100;
	--out-led-module-width: 16;
	--out-led-module-height: 16;

	--inner-box-width: 128;
	--inner-box-height: 64;

	--out-inner-box-left: 16;
	--out-inner-box-right: 16;
	--out-inner-box-top: 16;
	--out-inner-box-bottom: 16;

	--outer-dim-height: 40;
	--inner-dim-height: 20;
	--arrow-size: 16;
	--module-color: #999999;
	--frame-color: #999999;
	--module-line-color: #000000;
	--dim-color: #ff0000;
	--outer-border: 10;
	--frame-depth: 10;
	--depth-color: #00ff00;

	out-line {
		position: relative;
		display: flex;
		background-color: var(--frame-color);
		box-sizing: border-box;
		width: calc(var(--out-line-width) * 1rem);
		height: calc(var(--out-line-height) * 1rem);
		border-radius: calc(var(--outer-border) * 1px);
		box-shadow: calc(var(--frame-depth) * 0.2px) calc(var(--frame-depth) * 0.2px) 0 var(--depth-color),
			calc(var(--frame-depth) * 0.4px) calc(var(--frame-depth) * 0.4px) 0 var(--depth-color),
			calc(var(--frame-depth) * 0.6px) calc(var(--frame-depth) * 0.6px) 0 var(--depth-color),
			calc(var(--frame-depth) * 0.8px) calc(var(--frame-depth) * 0.8px) 0 var(--depth-color),
			calc(var(--frame-depth) * 1px) calc(var(--frame-depth) * 1px) 0 var(--depth-color);
		inner-box {
			position: relative;
			display: flex;
			margin-top: calc(var(--out-inner-box-top) * 1rem);
			margin-left: calc(var(--out-inner-box-left) * 1rem);

			height: fit-content;
			flex-direction: column;
			flex-wrap: wrap;
			flex: 0;
			row-box {
				display: flex;
				flex-direction: row;
				background-color: var(--module-color);
				led-module {
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 8em;
					box-sizing: border-box;
					width: calc(var(--out-led-module-width) * 1rem);
					height: calc(var(--out-led-module-height) * 1rem);
					border-top: 1px solid;
					border-right: 1px solid;
					border-color: var(--module-line-color);

					&:nth-child(1) {
						border-left: 1px solid;
						border-color: var(--module-line-color);
					}
				}
			}
			row-box:nth-child(1) {
				led-module {
					border: none;
					border-top: 1px solid;
					border-right: 1px solid;
					border-color: var(--module-line-color);
					&:nth-child(1) {
						border-left: 1px solid;
						border-color: var(--module-line-color);
					}
				}
			}
			row-box:nth-last-child(3) {
				led-module {
					border: none;
					border-top: 1px solid;
					border-bottom: 1px solid;
					border-right: 1px solid;
					border-color: var(--module-line-color);
					&:nth-child(1) {
						border-left: 1px solid;
						border-color: var(--module-line-color);
					}
				}
			}
		}
	}
}

.dim-x {
	position: absolute;
	bottom: calc(var(--outer-dim-height) * -1.1px);
	height: calc(var(--outer-dim-height) * 1px);
	box-sizing: border-box;

	width: 100%;

	border-left: calc(var(--line-width) * 1px) solid;
	border-right: calc(var(--line-width) * 1px) solid;
	border-color: var(--dim-color);

	.left-arrow {
		position: absolute;
		left: 0;
		bottom: 0;
		width: calc(var(--arrow-size) * 1px);
		height: calc(var(--arrow-size) * 1px);
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: calc(var(--arrow-size) * 0.7px);
			height: calc(var(--arrow-size) * 0.7px);
			transform: rotateZ(45deg);
		}
	}

	.right-arrow {
		position: absolute;
		right: 0;
		bottom: 0;
		width: calc(var(--arrow-size) * 1px);
		height: calc(var(--arrow-size) * 1px);
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: calc(var(--arrow-size) * 0.7px);
			height: calc(var(--arrow-size) * 0.7px);
			transform: rotateZ(-135deg);
		}
	}
	.line {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: calc(((var(--arrow-size) - var(--line-width)) * 0.5px));
		height: calc(var(--line-width) * 1px);
		width: 100%;
		background-color: var(--dim-color);
		.dim-text {
			display: block;
			font-weight: bold;
			font-size: var(--dim-text-size);
			color: var(--dim-color);
			background-color: rgba(255, 255, 255, 0.7);
		}
	}
}

.dim-y {
	position: absolute;

	right: calc(var(--outer-dim-height) * -1.1px);
	box-sizing: border-box;

	width: calc(var(--outer-dim-height) * 1px);
	height: 100%;

	border-top: calc(var(--line-width) * 1px) solid;
	border-bottom: calc(var(--line-width) * 1px) solid;
	border-color: var(--dim-color);
	.left-arrow {
		position: absolute;
		top: 0;
		right: 0;
		width: calc(var(--arrow-size) * 1px);
		height: calc(var(--arrow-size) * 1px);
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: calc(var(--arrow-size) * 0.7px);
			height: calc(var(--arrow-size) * 0.7px);
			transform: rotateZ(135deg);
		}
	}

	.right-arrow {
		position: absolute;
		right: 0;
		bottom: 0;
		width: calc(var(--arrow-size) * 1px);
		height: calc(var(--arrow-size) * 1px);
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: calc(var(--arrow-size) * 0.7px);
			height: calc(var(--arrow-size) * 0.7px);
			transform: rotateZ(-45deg);
		}
	}
	.line {
		position: absolute;

		display: flex;
		align-items: center;
		justify-content: center;
		right: calc(((var(--arrow-size) - var(--line-width)) * 0.5px));
		width: calc(var(--line-width) * 1px);
		height: 100%;
		background-color: var(--dim-color);
		.dim-text {
			display: block;
			font-weight: bold;
			font-size: var(--dim-text-size);
			color: var(--dim-color);
			background-color: rgba(255, 255, 255, 0.7);
		}
	}
}

out-line {
	inner-box {
		.dim-x {
			bottom: calc(var(--inner-dim-height) * -1.1px);
			height: calc(var(--inner-dim-height) * 1px);
			.line {
				.dim-text {
					margin: 0;
					margin-bottom: calc((var(--dim-text-size) * 2));
					margin-right: calc(var(--dim-text-size) * 6);
				}
			}
		}
		.dim-y {
			right: calc(var(--inner-dim-height) * -1.1px);
			width: calc(var(--inner-dim-height) * 1px);
			.line {
				.dim-text {
					margin: 0;
					margin-bottom: calc(var(--dim-text-size) * 3);
					margin-right: calc(var(--dim-text-size) * 5);
				}
			}
		}
	}
	.dim-x {
		.line {
			.dim-text {
				margin-bottom: calc((var(--dim-text-size) * 2));
				margin-left: calc(var(--dim-text-size) * 6);
			}
		}
	}
	.dim-y {
		.line {
			.dim-text {
				margin-top: calc(var(--dim-text-size) * 3);
				margin-left: calc(var(--dim-text-size) * 5);
			}
		}
	}
}
