:root {
  --main-size:10px;

}

ul {
  display : grid;
  grid-template: 1fr 1fr 1fr; 
}
li {
  display : contents;
}

html {
  box-sizing: border-box;
  font-size: var(--main-size);
}

header {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: rgb(211, 222, 255);
  height: 100px;
  font-size: 16px;
  align-items: center;

}

aside {
  
  
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 999;
  line-height: 2em;
  
}

aside div {
  background-color: rgba(0,0,0,0.15);
  padding: 2em;
  white-space: nowrap;
}

button , input {
  border: none;
  background-color: rgba(0,0,0,0);
}

button.savePicture {
  width: 90px;
  height: 90px;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  border-radius: 10%;
  font-weight: bold;
  font-size: 18px;
  
  text-align: center;
}
button.savePicture:hover {
  opacity: 0.8;
}

input {
  width: 5em;
}

input#ledName {
  width: 12em;
}

.a { 
  
  position: fixed;
  background-color: #eee;
  top: 100px;
  width: calc(100vw);
  height: calc(100vh - 100px);
}



html {
  box-sizing: border-box;
}

.c{
  border: 0.3em solid rgb(88, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.d{
  width: 10em;
  height: 1em;
  display: flex;
}

div{
  
  
  display: block;
  justify-content: center;
  align-items: center;
}

div.col{
  display: flex;
}

div.module{
  display: block;
  background-color: aqua;
  width: 2em;
  height: 1em;
  outline: #fff 0.1em solid;
  outline-offset: -0.1em;
}


